*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mov{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  
  
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form{
  display: flex;
  justify-content: center;
  position: relative;
}
.search-bar{
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #0c0808;
}
.Search-label{
  position: absolute;
  left: px;
  color: #1f0101;
  pointer-events: none;
  transform: translate(1rem);
  transition: 150ms ease;
}
.search-bar:focus,isearch-bar:valid{
  outline: none;
  border: 1.5px solid #1a73e8;
}
.search-bar:focus ~ label,search-bar:valid ~ label{
  transform: translateY(-50%) scale(0.8);
  background-color: rgb(253, 253, 253);
  padding: 0.2em;
  color: #1a73e8;
}
.header{
  display: flex;
  justify-content: center;
  padding: 1px;
  font-size: 60px;
  color: red;
  background-color: #0c0808;
}
